<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<h3>Add a new Song</h3>
<form action="/songs" method="post">
    <label>Title</label>
    <input type="text" name="title"/>

    <label>Track Number</label>
    <input type="number" name="trackNumber"/>

    <label>Length</label>
    <input type="number" name="length"/>

    <label>Album Id</label>
    <input type="number" name="albumId"/>
    <input type="submit" value="add song">
</form>
</body>
</html>