<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="style.css">

</head>
<body >
  <h1>Songr</h1>
    <div class="header-right">
        <a class="active" href="#">Home</a>
        <a href="album/1">Albums</a>
        <a href="songs">Songss</a>
        <a href="addsong">Add Song</a>
        <a href="addAlbum">Add Album</a>



    </div>
</div>

<div style="padding-left:20px">

</div>
</body>
</html>